
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background-color: darkgray;
}
.container{
    height: 100%;
}
.head_container{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: white;
}
.header span{
    font-family: "Playwrite CU";
    font-size: 1rem;
}
.make_move_displayer{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: white;
    margin: 20px 0px;
}
.player_score_box,.computer_score_box{
    margin: 10px 15px;
    width: 20%;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    display: none;
    font-style: normal;
    font-size: 1rem;
}
.player_score_box div{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgba(0, 255, 34, 0.822);
    border-radius: 20px;
    margin: 10px 0px;
}
.computer_score_box div{
    
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 20px;
    background-color: tomato;
    margin: 10px 0px;
}
.compute_box{
    width: 100%;
    height: 60%;
    
    display: none;
}
.compute_box div{
    width: 100%
}
.compute_box div video{
    width: 70%;
    height: 150px;
}
.result_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#result_text{
    text-align: center;
    width: 40%;
    font-size: 1.2rem;
    color:white;
    background-color: black;
    padding: 2% 0;
    border-radius: 30px;
}

.player_move_container,.computer_move_container{
    margin: 10px 0px;
}
.computer_move_container video{
    float:right;
}
.move_box{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.img_box{
    padding: 10px;
    border-radius: 70%;
    border-width: 5px;
    margin: 0 10px;
    object-fit: cover;
    object-position: center;
}
.img_box img{
    height: 90px;
    object-fit: cover;
    object-position: center;
}
