*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
body{
    overflow-y: hidden;
    height: 100vh;
    background-color: 	#4285f4;
}
.header{
    color:	#fbbc05;
    text-align: center;
    font-size: 2rem;
    margin: 10px 0px;
    font-weight: bold;
    font-style: italic;
}

.player_selector_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.single_player_button,.multi_player_button{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    width:300px;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
}
.single_player_button{
    background-color: #FBE7C6;
}
.multi_player_button{
    background-color: #FFAEBC;
}
span{
    font-family: "Playwrite CU";
    font-size: 2.5rem;
    color: white;
}
@media(min-width:768px){
    .single_player_button,.multi_player_button{
        transition: all 1s;
        color: white;
        background: transparent;
        border:solid;
        cursor: pointer;
    }
    .single_player_button{
        border-color: #FBE7C6;
    }
    .multi_player_button{
        border-color: #FFAEBC;
    }
    .single_player_button:hover,.multi_player_button:hover{
        transform: scale(1.2);
        color: black;
        border: none;
    }
    .single_player_button:hover{
        background-color: #FBE7C6;
    }
    .multi_player_button:hover{
        background-color: #FFAEBC;
    }
}