
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Playwrite CU";
}
body{
    overflow-y: hidden;
    background-color: darkgray;
}
.head_container{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px;
    font-size: 1.5rem;
}
.reset_text{
    font-size: 1.2rem;
    background-color: black;
    color: red;
    padding: 10px;
    border-radius: 20px;
    display: none;
}
.rounds_text{
    font-size: 1.2rem;
    background-color: rgb(119, 255, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 20px;
    display: none;
}
.header{
    color: white;
    font-weight: bold;
    text-align: center;

}
.compute_box{
    display: none;
}
.move_box{
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.img_box{
    padding: 10px;
    border-color: #fff400;
    border-style: solid;
    border-radius: 70%;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    object-fit: cover;
    object-position: center;
}
.img_box img{
    height: 200px;
    object-fit: cover;
    object-position: center;
}
.moves_result_box{
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.moves_result_box div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    width: 40%;
    height: 200px;
    font-weight: bold;
    color: #05445E;
}
.result_img{
    padding: 10px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
}
.result_img img{
    
    padding: 10px;
    border-width: 5px;
    height: 190px;
    object-fit: cover;
    object-position: center;
}
.curr_result_shower{
    width: 5%;
}
#result_text{
    font-size: 2.3rem;
    background-color: black;
    padding: 1% 10%;
    border-radius: 30px;
}
.result_container{
    margin: 38px 0;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    text-align: center;
}
.result_container div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 20%;
    height: 100px;
    font-weight: bold;

}
.win_container{
    background-color: rgb(0, 255, 34);
    border-radius: 20px;
}
.loss_container{
    border-radius: 20px;
    background-color: red;
}
.tie_container{
    border-radius: 20px;
    background-color: gray;
}