*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: italic;
}
body{
    overflow-y: hidden;
    height: 100vh;
    background-color: #4285f4;
    position: relative;
}
.header{
    color:#fbbc05;
    text-align: center;
    font-size: 2rem;
    margin: 10px 0px;
    font-weight: bold;
}
.header span{
    font-family: "Playwrite CU";
    font-size: 2.5rem;
    color: white;
}
.container_2{
    position: absolute;
    transform: translate(-50%,50%);
    top:10%;
    left:50%;
}
.container_2 p{
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
}
.container_2 span{
    color: #673ab7;
}
.container_2 input{
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.5s;
}
.container_2 input:focus{
    background-color: purple;
    color: white;
    padding: 20px;
    
    font-weight: bold;
}
.container_2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.submit-button{
    font-size: 1.4rem;
    padding: 2px 20px;
    border: solid;
    border-color: silver;
    background-color: #fbbc05;
    border-width: 3px;
    border-radius: 10px;
    color: white;
    margin: 10px 0px;
}

@media (min-width: 768px){
    .submit-button:hover{
        background-color: #fbbc05;
        font-weight: bold;
        padding: 10px 40px;
    }
    .submit-button{
        background-color: transparent;
        transition: all 0.5s;
    }
    .container_2 input:hover{
        padding: 20px;
        background-color: #fbbc05;
    }
}
@media (max-width: 768px){
    .container_2 p{
        font-size: 1.2rem;
    }
}