*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: italic;
}
body{
   
    background-color: #4285f4;
    
}
.header{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color: #673ab7;
}
#winner_result{
    font-size: 1.6rem;
    color: #fbbc05;
}
.container {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#play_again_button,#change_points_button,#return_main_button,#change_players_name{
    width:300px;
    padding: 15px;
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}
#play_again_button{
    background-color: #FAE8E0;
}
#change_points_button{
    background-color: #FBE5C8;
}
#change_players_name{
    background-color: #B6E2D3;
}
#return_main_button{
    background-color: #8FDDE7;
}