
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background-color: #4285f4;
}
.container{
    height: 100%;
}
.head_container{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.header{
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #fbbc05;
}
.header span{
    font-family: "Playwrite CU";
    font-size: 1rem;
}
.player_1_score_box,.player_2_score_box{
    margin: 10px 15px;
    flex-direction: column;
    float: left;
    justify-content: center;
    align-items: center;
    display: flex;
    font-style: normal;
    font-size: 0.5rem;
    width: 10%;
}
.player_1_score_box div{
    text-align: center;
    padding: 20px;
    color: white;
    background-color: tomato;
    border-radius: 20px;
    margin: 10px 0px;
}
.player_2_score_box div{
    text-align: center;
    padding: 20px;
    color: white;
    border-radius: 20px;
    background-color: lightgreen;
    margin: 10px 0px;
}

.compute_box{
    width: 100%;
    display: block;
}
.compute_box div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#player_2_displayer,#player_1_displayer{
    width: 80%;
    height:220px;
}
.player_1_container p{
    color: tomato;
    font-size: 1.2rem;
}
.player_2_container p{
    color: lightgreen;
    font-size: 1.2rem;
    
}
.result_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#result_text{
    text-align: center;
    width: 40%;
    font-size: 1.2rem;
    color:white;
    background-color: black;
    padding: 2% 0;
    border-radius: 30px;
}
.next-round-button{
    position: absolute;
    transform: translate(-50%,50%);
    top:85%;
    left:50%;
    color:white ;
    background-color: gold;
    padding: 7px 20px;
    border: none;
    border-radius: 20px;
    font-size: 1.4rem;
}
