*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    background-color: #4285f4;
}
.container{
    height: 100%;
}
.header{
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 20px;
    color: white;
}
.name{
    color: #fbbc05;
    font-size: 2.5rem;
}
.move_box{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.img_box{
    padding: 10px;
    border-radius: 70%;
    border-width: 5px;
    margin: 0 10px;
    object-fit: cover;
    object-position: center;
    
}
.img_box img{
    height: 150px;
    object-fit: cover;
    object-position: center;
}
.score_card_button{
    position: absolute;
    transform: translate(-50%,50%);
    top:70%;
    left:50%;
    color:white ;
    background-color: #673ab7;
    padding: 15px 60px;
    border: none;
    border-radius: 20px;
    font-size: 1.4rem;
}

@media(min-width:768px){
    .img_box{
        transition: all 0.5ms;
    }
    .img_box:hover{

        transform: scale(1.2);
    }
}
@media(max-width:768px){
    .move_box{
        flex-direction: column;
        margin-top: 10px;
    }
    .header{
        font-size: 1.5rem;
    }
    .img_box img{
        height: 120px;
    }
    .score_card_button{
        font-size: 0.8rem;
        top:84%;
    }
}