*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-style: italic;
}
body{
    overflow-y: hidden;
    height: 100vh;
    background-color: #4285f4;
}
.header{
    color:#fbbc05;
    text-align: center;
    font-size: 2rem;
    margin: 10px 0px;
    font-weight: bold;
}
.sub_head{
    color: #ffffff;
    text-align: center;
    font-size: 1.3rem;
    margin: 10px 0px;
    font-weight: bold;
}
.player_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#player_2 ,#player_3{
    width:300px;
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}
#player_2{
    background-color: #FAE8E0;
}
#player_3{
    background-color: #FBE5C8;
}
span{
    font-family: "Playwrite CU";
    font-size: 2.5rem;
}
@media screen and (max-width: 768px){
    .sub_head{
        font-size: 1.3rem;
        margin:20px 0px;
    }
    .player_box{
        top:60%;
    }
    
}